$breakpoints-padding: (
  4: 64px,
  3: 32px,
  2: 16px,
  1: 8px,
  0: 0
);

@each $name, $margin in $breakpoints-padding {
  .p-#{$name} {
    padding: $margin;
  }
  .pt-#{$name} {
    padding-top: $margin;
  }
  .pl-#{$name} {
    padding-left: $margin;
  }
  .pr-#{$name} {
    padding-right: $margin;
  }
  .pb-#{$name} {
    padding-bottom: $margin;
  }
}

.pointer {
  cursor: pointer !important;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center{
  align-items: center
}
.flex-column {
  flex-direction: column;
}

.Row__title{
  font-size: 1.5rem;
}

$breakpoints: (sm:640px, md:992px, lg:1280px, xl:1536px);

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    @each $name, $size in $breakpoints {
      @media (min-width: $size) {
        & {
          max-width: $size;
        }
      }
    }

    &--fluid {
      max-width: 100%;
    }
  }