$color-bg: #1c1c1c;
$color-card: #252836;
$white: #f2f2f2;
$pure-black: #030303;
$light-black: #181818;
$black: #141414;
$bluelinguoo: #01abf7;
$color-brand-primary: #08a0f7;
$bluelinguoohover: #276993;
$red: #e50914;
$grey: #101011;
$blue-google: #1356c7;
$color-neutral: #333333;
$color-default: #ffffff;
$color-icon: #808191;
$main-font: "Inter", "sans-serif";
$fakeflix-font: "Bebas Neue", cursive;
$color-text-secondary: #b7b9d2;
$wrp-cardvw: 75vw;
