@import "../../scss/variables";
@import "../../scss/mixin";

.siderbar {
  padding: 0;
  width:  15em;
  height: 100%;
  position: inherit;
  height: 100vh;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: $color-bg;
  background-image: none;
  color: #0078c2;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: auto;
  z-index: 10;
  flex-wrap: nowrap;
  overflow: hidden;

  &__space {
    position: fixed;
    width: auto;
  }
  &__hr {
    border: 1px solid rgb(50, 50, 50);
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 0;
  }
  &__icon-radius {
    position: relative;
    width: 32px;
    height: 32px;
    left: 3px;
    top: 1px;
    border-radius: 16px;
    background: #333333;
    &-after {
      opacity: 1;
      background-color: #0078c2;
    }
  }
  &__main-container {
    width: 25vh;
    display: flex;
    position: relative;
  }

  &__icon {
    width: 32px;
    height: 32px;
    text-align: center;
    color: $color-icon;
    &-after {
      color: rgb(255, 255, 255);
    }
    svg {
      height: 100%;
    }
  }
  &__logo {
    display: none;
    @include mq(xs) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 2em;
      width: 100%;
      margin-top: -10px;
      padding: 2em 0;
      padding-right: 2em;

      &--img {
        width: 80%;
        max-width: 160px;
      }
    }
  }
  &__link {
    font-family: "Poppins";
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    color: gray;

    &-after {
      color: white;
    }
  }
  &__link:hover > .siderbar__icon-radius {
    background-color: #0078c2;
  }
  &__link:hover {
    color: white;
  }
  &__top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  }
  &__routes {
    padding: 10vh 0;
    width: 100%;
    size: 14px;
    display: flex;
    line-height: 15.46px;
    letter-spacing: 0.3px;
    flex-direction: column;
    
  }
  &__link_text {
    padding-left: 20px;
  }
  &__mode{
    display: flex;
  }
  &__Switch--text{
    
  }
}

.siderbar__main-container {
  width: 25vh;
}

@media (max-width: 800px) {
  .siderbar__main-container {
    width: 60px !important;
  }
  .siderbar {
    width: 60px !important;
    &__link_text {
      display: none;
    }
    &__routes{
      align-items: center;
    }
    &__logo {
      padding: 0 15px;
      padding-top: 1.5em;
    }
  }
}
