@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './scss/mixin';
@import './scss/variables';
@import './scss/utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-family: 'Poppins', sans-serif;  
  background-color: $color-bg;
  color: $white;
}

.App{
  display: flex;
}
.container-root{
  width: calc(100% - 15.4em);
  height: 100vh;
  background-color: $color-bg;

  &--before{
    width: 100% !important;

  }
}
@media (max-width: 800px) {
  .container-root{
    width: calc(100% - 60px);
  }
}

.color-opacity {
  background: $color-default;
  opacity: 0.1;
}

.text-max{

  font-size: 15px;
  margin-bottom: 0.3em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}