@import "../../scss/mixin";
@import "../../scss/variables";

.Row__poster {
  position: relative;
  overflow: hidden;
  margin-right: 0.5rem;
  cursor: pointer;

  &--time {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 0.8rem;
    &_min{
      padding: 0.1rem 0.5rem;
      background: rgba(0, 0, 0, 0.451);
      border-radius: 7px;
      font-size: small;
    }
  }

  &--avatar {
    left: calc(90% - 55px);
    top: 40%;
  }

  &:last-of-type {
    img {
      margin-right: 3rem;
    }
  }

  &--wrp {
    display: flex;
    position: relative;
    padding-right: 4em;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  img {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }

  &__fallback {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 150px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    z-index: -1;
    padding: 0 1em;
  }
  &--card {
    width: auto;
    height: auto;
    max-height: 366px;

    &--img {
      background-size: cover;
    }
    &:hover{
      .icon--play__play{
        display: flex;
      }
      
    }
  }
  &--big {
    position: relative;
    width: 100%;
    border-radius: 20px;
    img {
      width: 100%;
      min-height: auto;
      border-radius: 20px 20px 0 0;
      height: 100%;
      object-fit: cover;
    }
    &__play-list {
      img {
        border-radius: 12px;
        
      }
    }
  }

  // &--big {
  //   img {
  //     width: 100%;
  //     height: 50%;
  //   }
  // }

  &-info {
    background: $color-card;
    justify-content: space-between;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    // width: calc(100% - 6px);
    padding: 0.6em;
    // background-color: alpha($color: #0000008e);
    z-index: 2;
    border-radius: 0 0px 20px 20px;
    pointer-events: none;
    transition: all 0.4s ease 0.15s;
    position: absolute;
    bottom: 0 !important;
    height: 50% !important;
    
    &-play-list {
      position: absolute;
      top: 1.5em;
      right: 1em;
      background: none;
      padding: 1rem !important;
      justify-content: start;
      .Row__poster-info--title {
        white-space: pre-wrap;
        h3 {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
    @include mq("md") {
      pointer-events: all;
    }
    &--iconswrp-breeder {
      
    }
    &--iconswrp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 1em;
      flex-wrap: nowrap;
      width: 100%;
      bottom: 80%;
      left: 0;

      &-description {
        p {
          font-weight: 200;
          font-size: 0.8rem;
        }
      }
    }

    &--icon {
      display: inline-flex;
      padding: 6px;
      border-radius: 50%;
      font-size: 12px;
      cursor: pointer;
      margin: 0 5px;
      margin-bottom: 0.6em;
      background: transparent;
      color: $white;
      border: 1px solid $white;
      transition: all 0.3s ease-out;
      outline: none;

      @include mq("lg") {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 0.8em;
      }

      @include mq(1378px, 1680px) {
        font-size: 12px;
        padding: 6px;
        margin-bottom: 0.6em;
      }

      @include mq(1680px) {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 0.8em;
      }

      &:hover {
      }

      //   &:first-child {
      //     margin-left: 0;
      //     background: $white;
      //     color: $black;

      //     &:hover {
      //       background: rgba($white, 0.7);
      //       border-color: rgba($white, 0.7);
      //     }
      //   }
    }

    &--icon-reverse {
      display: inline-flex;
      padding: 6px;
      border-radius: 50%;
      font-size: 12px;
      cursor: pointer;
      margin: 0 5px;
      margin-bottom: 0.6em;
      background: $white;
      color: $black;
      border: 1px solid $white;
      transition: all 0.3s ease-out;
      outline: none;

      @include mq("lg") {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 0.8em;
      }

      @include mq(1378px, 1680px) {
        font-size: 12px;
        padding: 6px;
        margin-bottom: 0.6em;
      }

      @include mq(1680px) {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 0.8em;
      }

      &:hover {
        background: rgba($white, 0.7);
        border-color: rgba($white, 0.7);
        
      }

      // &:first-child {
      // 	margin-left: 0;
      // 	background: $white;
      // 	color: $black;

      // 	&:hover {
      // 	background: rgba($white, 0.7);
      // 	border-color: rgba($white, 0.7);
      // 	}
      // }
    }
    &--name {
      font-size: 1rem;
      font-weight: 400;
      color: $color-text-secondary;
      @include mq(xs) {
        font-size: 0.8rem;
      }
    }

    &--title {
      width: 100%;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      overflow: hidden;

      h3 {
        font-size: 12px;
        font-weight: 500;
        text-transform: none;
        border-radius: 1em;

        @include mq("lg") {
          font-size: 12px;
        }

        @include mq(1378px, 1680px) {
          font-size: 12px;
        }

        @include mq(1680px) {
          font-size: 12px;
        }
      }

      p {
        font-size: 10px;
        margin-top: 0.3vw;
        margin-bottom: 0;

        @include mq("lg") {
          font-size: 13px;
        }

        @include mq(1378px, 1680px) {
          font-size: 10px;
        }

        @include mq(1680px) {
          font-size: 13px;
        }
      }
    }

    &--genres {
      display: block;
      width: 100%;

      .genre-title {
        display: inline-block;
        width: auto;
        font-size: 8px;
        margin: 0 0.3vw 0 0;

        @include mq("lg") {
          font-size: 10px;
        }

        @include mq(1378px, 1680px) {
          font-size: 8px;
        }

        @include mq(1680px) {
          font-size: 10px;
        }

        &:after {
          // content: "●";
          content: "●";
          display: inline-block;
          margin: 0 0 0 0.3vw;
          font-size: 6px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0);
          color: rgba($white, 0.4);
        }

        &:last-child:after {
          display: none;
        }
      }
    }
  }
}

.swiper-slide {
  height: auto;
  padding: 0;
  margin: 12px;
  width: 30%;
  .Row__poster {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.6) 0%,
        transparent 65%
      );
      //   background: linear-gradient(
      //     360deg,
      //     rgba(0, 0, 0, 0.2) 0%,
      //     transparent 20%
      //   );
      z-index: 0;
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }
  }
  @include mq("md") {
    &:hover {
      .Row__poster {
        &::after {
        }

        &-info {
          transform: translateY(0);
        }
      }
    }
  }
}
.Row__poster-info--iconswrp-breeder {
}.icon--play__favourite{
  
  &__play{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;


    &--icon{
      width: 20px;
      height: 20px;
    }
  }
  
  &__like{
    background: none;
    border: none;
    &--active{
      border: none;
      background: none;
      border: none;
    }
  }

}
.icon--play{
  width: 60px;
  height: 60px;
  &__favourite{
    position: absolute;   
    top:0; 
    z-index:101;
    margin: 10px;

  }
  &__stop{
    display: none;
  }
  &__play{
    color: white;
    border: none;
    border-radius: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    display: none;
    border-radius: 8px 8px 0 0 ;
    bottom: 50%;
    height: 50%;

    &--icon{
      width: 20px;
      height: 20px;
    }
    &:hover{
      .icon--play__play{
        display: flex;
      }
        background-color: rgba(0, 0, 0, 0.319) !important;
    }
  }
  
  &__like{
    color: white ;
    &--active{
    }
  }
}
.Row__icon{
  position: absolute;
  z-index: 100;
}
.icon-like{
  padding: 10px;
}
.icon--play__like{
  svg{    
    stroke: while;
  }
}

.Row__poster--card--img img {
  width: 100%;
  height: 100%;
  padding-bottom: 38%;  
}