@import "../../scss/mixin";
@import "../../scss/variables";

.checkout-container{
    height: auto;
    background-color: white;
    color: black;
    
    &__title{
        position: absolute;
        top: 20%;
        width: 100%;
        text-align: center;
        h1{
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 63px;
            /* or 126% */

        text-align: center;

            letter-spacing: 0.5px;
            color: white;
        }
        span{
            color:$color-brand-primary;

        text-align: center;
        }
        p{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 63px;
            letter-spacing: 0.5px;
            
        text-align: center;
            color: #FFFFFF; 
        }
    }
    &__content{
        position: relative;
        width: 100%;
        height: 480px;
    }
    &__img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .owner{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            width: 80%;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            /* or 148% */

            text-align: center;
            letter-spacing: 0.5px;

            color: #000000;
        }
    }

    .title-plan{
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 63px;
        /* identical to box height, or 210% */

        letter-spacing: 0.5px;

        color: #000000;
    }

.sub-title-plan{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    width: 70%;
    letter-spacing: 0.5px;
    text-align: center;
    color: #000000;
}

.best-value{
    width: 368px;
    height: 329px;
    left: 680px;
    top: 1032px;

    background: #0060C9;
    box-shadow: 0px 4px 4px rgba(37, 40, 54, 0.5);
    border-radius: 30px;
   
    p{
        font-style: normal;
        font-weight: 400 ;
        font-size: 20px;
        line-height: 24px;
        /* or 96% */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;

        color: white;
    }
    &__orange{
        color: red;
        font-size: 25px ;
        line-height: 24px;
        /* or 96% */
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;

        color: #F6AB3B !important;
    }

}
.bol {
    font-size: 25px !important;
    font-weight: 700 !important;
} 
.button-premiun{
    width: 368px;
    height: 89px;
    left: 680px;
    top: 1420px;

    background: #0060C9;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    letter-spacing: 0.5px;

    color: #F6AB3B;
}

@media (max-width: 1000px) {
    .row {
        grid-template-columns: repeat(1, 1fr);
    }
    .owner{
        padding-top: 50px;
    }
    .checkout-container__title {
        h1{
            font-size: 25px;
        }
        p{
            font-size: 15px;
        }
    }
}